// color
$color-white: #fff;
$color-gray-dark: #2b2b2b;
$color-gray-light: #969696;

///////////////////////////////

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.header {
  height: 30vh;
  position: relative;
  padding: 3rem 0 10rem 0;
  background-image: url(../images/pattern-bg.png);
  background-size: cover;

  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: $color-white;
  font-size: 2.8rem;
  font-weight: 600;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  input,
  button {
    padding: 1.5rem;
    border: none;
  }

  input {
    width: 40rem;
    color: $color-gray-dark;
    font-size: 1.5rem;
    cursor: text;
    border-radius: 10px 0 0 10px;

    &::placeholder {
      color: $color-gray-light;
    }
  }

  button {
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    background-color: $color-gray-dark;

    svg {
      fill: $color-white;
    }
  }
}

.ip-info {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 99999;
  transform: translate(-50%, 50%);

  display: flex;
  justify-content: space-evenly;
  gap: 5rem;

  width: 75%;
  padding: 3.5rem 3rem;
  background-color: $color-white;
  border-radius: 10px;

  & > *:not(div.ip-info__address) {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -3rem;
      transform: translateY(-50%);

      width: 1px;
      height: 90%;
      background-color: rgba($color-gray-light, 0.3);
    }
  }

  &__address,
  &__location,
  &__timezone,
  &__isp {
    position: relative;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-gray-light;
  }

  &__content {
    font-size: 2.2rem;
    font-weight: 400;
    color: $color-gray-dark;
  }
}

.map {
  height: 70vh;
  width: 100vw;
}

.leaflet-marker-icon {
  filter: grayscale(100%) contrast(250%);
}
